$color-strong: #5C0029;
$color-pink: #E83F6F;
$color-cream-white: #FDFFFC;
$color-light-brownish-grey: #A8A6A3;
$color-light-grey: #848FA5;
$color-dark-grey: #403F4C;
$color-very-dark-grey: #131316;
$color-yellow: #ffcc33;
$color-bright-yellow: #FAEC1A;
$color-white: #ffffff;
$color-red: #be000e;
$color-orange: #fe5b02;
$color-dark: #01232d;


$base-size: 24px;

// font-family: 'Delius Swash Caps', cursive;
// font-family: 'Montserrat', sans-serif;
// font-family: 'Poiret One', cursive;

